<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antidote Crafting</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<nav class="top-nav">
    <a href="http://localhost:7004/antidotes" class="nav-close">X</a>
    <a href="http://localhost:7004/map" class="nav-item">Open Map</a>
    <div class="nav-empty"></div>
    <div class="nav-empty"></div>
</nav>
<br><br>

<h1 th:text="${antidote.antidoteName}">Antidote</h1>

<p th:if="${antidote.antidoteActions[0].actionType == 'Mashing'}" th:text="'Tap the screen to crush the ' + ${plantName} + '.'">Tap the screen to crush the plant.</p>
<div id="clickable-box" th:if="${antidote.antidoteActions[0].actionType == 'Mashing'}">Here would be a picture of a plant which changes state (in this case grows more crushed) as the player performs the action (in this case tapping).</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var box = document.getElementById('clickable-box');
        var clickCount = 0;
        var colors = ['#749E74', '#5B7D5B', '#5B7D5B']; // Darker shades of green
        var currentColorIndex = 0;
        var isQuest = [[${isQuest}]];
        var antidoteId = [[${antidote.antidoteId}]];

        box.addEventListener('click', function() {
            clickCount++;
            if (clickCount % 3 === 0 && currentColorIndex < colors.length) {
                box.style.backgroundColor = colors[currentColorIndex];
                currentColorIndex++;
            }
            if (clickCount === 9) {
                window.location.href = '/antidotes/success/' + isQuest + '/' + antidoteId;            }
        });
    });
</script>

<nav class="bottom-nav">
    <a href="http://localhost:7004/quests" class="nav-item">
        <img src="/images/quests-icon.png" alt="Quests">
    </a>
    <a href="http://localhost:7004/revision" class="nav-item">
        <img src="/images/revision-icon.png" alt="Revision">
    </a>
    <a href="http://localhost:7004/compendium" class="nav-item">
        <img src="/images/compendium-icon.png" alt="Compendium">
    </a>
    <a href="http://localhost:7004/map" class="nav-item">
        <img src="/images/antidotes-icon.png" alt="Antidotes">
    </a>
    <a href="http://localhost:7004/profile" class="nav-item">
        <img src="/images/profile-icon.png" alt="Profile">
    </a>
</nav>
</body>
</html>