<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Plant Success</title>
</head>
<body>
<nav class="top-nav">
    <a href="http://localhost:7004/map" class="nav-close">X</a>
    <div class="nav-title"><span th:text="${plant.plantName}">plant</span></div>
    <div class="nav-empty"></div>
    <div class="nav-empty"></div>
</nav>
<br><br>
<div class = "page">
<p>"Wonderful! I've added an entry for <span th:text="${plant.plantName}">plant</span> in your Compendium and the <span th:text="${antidoteName}">plant</span> is ready to be made."</p>
<p>Go to the Antidotes page to craft a <span th:text="${antidoteName}">plant</span>.</p>

<div class = "bottom-left-image">
    <img th:src="@{'/images/' + ${quest.questGiverPicture}}"
         alt="Druid Mentor - an older woman with tanned skin and white hair in a braid. There are leaves woven into her hair. She is holding a staff and smiling while talking."
         class="bottom-left-image">
</div>

    <div class="button-container">
<a class="custom-button" th:onclick="|window.location.href='http://localhost:7004/map';|">
    <img src="/images/button.png" alt="Button background">
    <span>Continue</span>
</a>
</div>
</div>
<nav class="bottom-nav">
    <a href="http://localhost:7004/quests" class="nav-item">
        <img src="/images/quests-icon.png" alt="Quests">

        <div class="indicator"></div>
    </a>
    <a href="http://localhost:7004/revision" class="nav-item">
        <img src="/images/revision-icon.png" alt="Revision">

        <div class="indicator"></div>
    </a>
    <a href="http://localhost:7004/compendium" class="nav-item">
        <img src="/images/compendium-icon.png" alt="Compendium">

        <div class="indicator"></div>
    </a>
    <a href="http://localhost:7004/antidotes" class="nav-item">
        <img src="/images/antidotes-icon.png" alt="Antidotes">

        <div class="indicator"></div>
    </a>
    <a href="http://localhost:7004/profile" class="nav-item">
        <img src="/images/profile-icon.png" alt="Profile">

        <div class="indicator"></div>
    </a>
</nav>
</body>
</html>