<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Plant Facts</title>
</head>
<body>
<nav class="top-nav">
    <a href="http://localhost:7004/map" class="nav-close">X</a>
    <div class="nav-title"><span th:text="${plant.plantName}">plant</span></div>
    <div class="nav-empty"></div>
    <div class="nav-empty"></div>
</nav>
<br><br>

<div class="placeholder-square">
    Here is where the player takes further photos of the plant in more detail which
    will be used to create a unique compendium page.
</div>

<div class = "page">
<p th:text="${plant.uniqueFeatures[__${factIndex -1}__]}"></p>
<br>
    <div class="button-container">
    <a class="custom-button" th:href="@{/plant-facts/{questId}/{plantId}/{factIndex}(questId=${quest.questId}, plantId=${plant.plantId},factIndex=${factIndex})}">
        <img src="/images/button.png" alt="Button background">
        <span>Take Photograph</span>
    </a>
</div>
</div>
<nav class="bottom-nav">
    <a href="http://localhost:7004/quests" class="nav-item">
        <img src="/images/quests-icon.png" alt="Quests">

        <div class="indicator"></div>
    </a>
    <a href="http://localhost:7004/revision" class="nav-item">
        <img src="/images/revision-icon.png" alt="Revision">

        <div class="indicator"></div>
    </a>
    <a href="http://localhost:7004/compendium" class="nav-item">
        <img src="/images/compendium-icon.png" alt="Compendium">

        <div class="indicator"></div>
    </a>
    <a href="http://localhost:7004/antidotes" class="nav-item">
        <img src="/images/antidotes-icon.png" alt="Antidotes">

        <div class="indicator"></div>
    </a>
    <a href="http://localhost:7004/profile" class="nav-item">
        <img src="/images/profile-icon.png" alt="Profile">

        <div class="indicator"></div>
    </a>
</nav>
</body>
</html>