<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Profile</title>
</head>
<body>

<nav class="top-nav">
    <a href="http://localhost:7004/map" class="nav-close">X</a>
    <div class="nav-title">Profile</div>
    <div class="nav-empty"></div>
    <div class="nav-empty"></div>
</nav>

<br> <br>
<h1>Profile</h1>
<div class="profile-wrapper">
    <div class="hexagon-container">
        <img th:if="${!#strings.isEmpty(profile.playerPicture)}"
             th:src="@{'/images/' + ${profile.playerPicture}}"
             alt="Profile Picture"/>
    </div>
</div>


<div style="max-width: 300px; margin: 0 auto; text-align: center">
    <h2 style="margin-top: 5px; margin-bottom: 0; font-size: 24px; font-weight: 600; ">
        <span th:text="${profile.playerName}">Player name</span>
    </h2>
    <p  style="margin-top: 5px; margin-bottom: 0; font-size: 16px; color: #666; line-height: 1; text-align: center">
        Level <span th:text="${profile.playerLevel}">X</span> Druid
    </p>
</div>

<div class = "page" style="margin-top: -20px;">

    <table style="width: 100%; margin-top: 10px; border-collapse: collapse;">
        <tr>
            <th style="text-align: left; padding: 8px; border-bottom: 1px solid #2E3D00;">Total XP</th>
            <td style="text-align: right; padding: 8px; border-bottom: 1px solid #2E3D00;">
                <span th:text="${profile.playerTotalXP}">Total XP</span>
            </td>
        </tr>
        <tr>
            <th style="text-align: left; padding: 8px; border-bottom: 1px solid #2E3D00;">Quests Completed</th>
            <td style="text-align: right; padding: 8px; border-bottom: 1px solid #2E3D00;">
                <span th:text="${profile.questsCompleted}">Quests Completed</span>
            </td>
        </tr>
        <tr>
            <th style="text-align: left; padding: 8px; border-bottom: 1px solid #2E3D00;">Pages Unlocked</th>
            <td style="text-align: right; padding: 8px; border-bottom: 1px solid #2E3D00;">
                <span th:text="${profile.pagesUnlocked}">Pages Unlocked</span>
            </td>
        </tr>
        <tr>
            <th style="text-align: left; padding: 8px;">Antidotes Made</th>
            <td style="text-align: right; padding: 8px;">
                <span th:text="${profile.antidotesMade}">Antidotes Made</span>
            </td>
        </tr>
    </table>

    <div class="button-container" style="margin-bottom: -20px;">
        <a class="custom-button" th:href="@{/profile/edit/{playerId}(playerId=${profile.playerId})}">
            <img src="/images/button.png" alt="Button background">
            <span>Edit My Info</span>
        </a>
    </div>

</div>
<br><br> <br><br>


<nav class="bottom-nav">
    <a href="http://localhost:7004/quests" class="nav-item">
        <img src="/images/quests-icon.png" alt="Quests">

        <div class="indicator"></div>
    </a>
    <a href="http://localhost:7004/revision" class="nav-item">
        <img src="/images/revision-icon.png" alt="Revision">

        <div class="indicator"></div>
    </a>
    <a href="http://localhost:7004/compendium" class="nav-item">
        <img src="/images/compendium-icon.png" alt="Compendium">

        <div class="indicator"></div>
    </a>
    <a href="http://localhost:7004/antidotes" class="nav-item">
        <img src="/images/antidotes-icon.png" alt="Antidotes">

        <div class="indicator"></div>
    </a>
    <a href="http://localhost:7004/map" class="nav-item">
        <img src="/images/profile-icon.png" alt="Profile">

        <div class="indicator"></div>
    </a>
</nav>
</body>
</html>