<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Revision</title>
</head>
<body>
<nav class="top-nav">
    <a href="http://localhost:7004/map" class="nav-close">X</a>
    <a href="http://localhost:7004/map" class="nav-item">Open Map</a>
    <div class="nav-empty"></div>
    <div class="nav-empty"></div>
</nav>
<br><br>
<h1>Revision</h1>
<br><br>
Available Quizzes
<br>
<div th:if="${canLevelUpExam == 'true'}">
    <a th:href="@{/revision/quiz/{quizId}(quizId=${exam.quizId})}">Level Up Exam</a>
</div>
<div class = "available-quizzes">
    <ul>
        <li th:each="quiz : ${quizzes}">
            <a th:href="@{/revision/quiz/{quizId}(quizId=${quiz.quizId})}" th:text="${quiz.quizName  + ' Quiz'}"></a>
        </li>
    </ul>

</div>




<nav class="bottom-nav">
    <a href="http://localhost:7004/quests" class="nav-item">
        <img src="/images/quests-icon.png" alt="Quests">
    </a>
    <a href="http://localhost:7004/map" class="nav-item">
        <img src="/images/revision-icon.png" alt="Revision">
    </a>
    <a href="http://localhost:7004/compendium" class="nav-item">
        <img src="/images/compendium-icon.png" alt="Compendium">
    </a>
    <a href="http://localhost:7004/antidotes" class="nav-item">
        <img src="/images/antidotes-icon.png" alt="Antidotes">
    </a>
    <a href="http://localhost:7004/profile" class="nav-item">
        <img src="/images/profile-icon.png" alt="Profile">
    </a>
</nav>
</body>
</html>