<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Quiz</title>
</head>
<body>
<nav class="top-nav">
    <a href="http://localhost:7004/revision" class="nav-close">X</a>
    <div class="nav-title">Revision</div>
    <div class="nav-empty"></div>
    <div class="nav-empty"></div>
</nav>

<br><br>
<h1 th:text="${quizGame.quizName  + ' Quiz'}" ></h1>
<h4 th:text="'Question ' + ${quizGame.quizProgress}" style = "text-align:center;  margin-bottom: 0"></h4>

<div class = "page" style = "margin-top: 0">

<div th:if="${quizGame.quizQuestions[quizGame.quizProgress - 1].questionSubjectType != 'Plant' and quizGame.quizQuestions[quizGame.quizProgress - 1].questionSubjectType != 'Ailment'}">
    <div class="profile-wrapper">
    <div class="hexagon-container">
        <img class="hexagon-image"
             th:src="@{'/images/' + ${quizGame.quizQuestions[quizGame.quizProgress - 1].questionSubjectType}}"
             alt="Question Image">
    </div>
    </div>
</div>


<p th:text="${quizGame.quizQuestions[quizGame.quizProgress - 1].questionText}"></p>

<form th:action="@{/revision/quiz/next}" method="post">
    <fieldset>
        <!-- Conditional Display for Text Answers -->
        <div th:if="${quizGame.quizQuestions[quizGame.quizProgress - 1].questionAnswerType != 'PlantPicture'}">
            <div th:each="answer, stat : ${quizGame.quizQuestions[quizGame.quizProgress - 1].allAnswers}">
                <input type="radio" th:id="${'answer' + stat.index}" th:name="selectedAnswer" th:value="${answer}" />
                <label th:for="${'answer' + stat.index}" th:text="${answer}"></label><br/>
            </div>
        </div>
        <!-- Conditional Display for Image Answers -->
        <div th:if="${quizGame.quizQuestions[quizGame.quizProgress - 1].questionAnswerType == 'PlantPicture'}" class="answer-grid">
            <div th:each="answer, stat : ${quizGame.quizQuestions[quizGame.quizProgress - 1].allAnswers}" class="answer-item">
                <input type="radio" th:id="${'answer' + stat.index}" th:name="selectedAnswer" th:value="${answer}" />
                <label th:for="${'answer' + stat.index}">
                    <div class="hexagon-container">
                        <img th:src="@{'/images/' + ${answer}}" alt="Answer Image">
                    </div>
                </label>
            </div>
        </div>

    </fieldset>
    <br>
    <button type="submit" class = custom-button >
        <span>Submit Answer</span>
        <img th:src="@{/images/button.png}" alt="Button background">
    </button>
</form>
</div>
<br><br><br><br>
<nav class="bottom-nav">
    <a href="http://localhost:7004/quests" class="nav-item">
        <img src="/images/quests-icon.png" alt="Quests">

        <div class="indicator"></div>
    </a>
    <a href="http://localhost:7004/revision" class="nav-item">
        <img src="/images/revision-icon.png" alt="Revision">

        <div class="indicator"></div>
    </a>
    <a href="http://localhost:7004/compendium" class="nav-item">
        <img src="/images/compendium-icon.png" alt="Compendium">

        <div class="indicator"></div>
    </a>
    <a href="http://localhost:7004/antidotes" class="nav-item">
        <img src="/images/antidotes-icon.png" alt="Antidotes">

        <div class="indicator"></div>
    </a>
    <a href="http://localhost:7004/profile" class="nav-item">
        <img src="/images/profile-icon.png" alt="Profile">

        <div class="indicator"></div>
    </a>
</nav>
</body>

</html>
